<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item class="balance-input card">
          <ion-label position="stacked">ยอดหนี้</ion-label>
          <ion-input
            type="text"
            appMaskNumber
            [(ngModel)]="balance"
            (keyup)="calculate()">
          </ion-input>
          <div slot="end" class="baht-symbol">฿</div>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="responsive-table card">
          <table class="table">
            <thead>
              <th>ปีที่</th>
              <th>หนี้ตามสัญญาคงเหลือ</th>
              <th>อัตราผ่อนชำระ <br> (ร้อยละของจำนวนเงินกู้ยืม)</th>
              <th>เงินต้น</th>
              <th>ดอกเบี้ย <br> (1% ของเงินต้นคงเหลือ)</th>
              <th>ยอดรวมที่ต้องชำระ</th>
              <th>ยอดชำระวัน</th>
              <th>ยอดชำระเดือน</th>
            </thead>
            <tbody>
              <tr *ngFor="let item of data">
                <th>{{ item.year | number }}</th>
                <td>{{ item.remaining | number }}</td>
                <td>{{ item.paymentRate | number }}</td>
                <td>{{ item.principle | number }}</td>
                <td>{{ item.interestAmount | number }}</td>
                <td>{{ item.sum | number }}</td>
                <td>{{ item.payPerDay | number }}</td>
                <td>{{ item.payPerMonth | number }}</td>
              </tr>
              <tr>
                <td colspan="2">
                  รวม
                </td>
                <td>
                  {{ sumPaymentRate | number }}
                </td>
                <td>
                  {{ sumPrinciple | number }}
                </td>
                <td>
                  {{ sumInterestRate | number }}
                </td>
                <td>
                  {{ sumAll | number }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>
          Reference: <a href="https://www.studentloan.or.th/th/highlight/1547359402" rel="noopener">https://www.studentloan.or.th/th/highlight/1547359402</a>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
