.balance-input {
    .baht-symbol {
        margin-top: 25px;
    }
}
.card {
    background-color: #fff;
    box-shadow: 0 4px 6px 0 hsla(0%, 0%, 0%, 0.2);
    border-radius: 0.5em;
}
.responsive-table {
    overflow-x: auto;
    position: relative;
    .table {
        width: 100%;
    } 
}
.table {
    thead {
        background-color: #F2F5F7;
    }
    th, td {
        padding: 10px 5px;
        border-bottom: 1px solid #EBEFF1;
    }
    th {
        white-space: nowrap;
        background-color: #F2F5F7;
        &:first-child {
            position: sticky;
            left: 0;
        }
    }
    td {
        text-align: center;
    }
}